/*.mainContainer{
    height: 100%;
    width: 100%;
    position: relative;
    float: left;
}
.ProdcutInside{
    
    position: relative;
    display: inline-block;
}
*/

.mainContainer{
    height: 100%;
    width: 95%;
    position: relative;
    margin-left: 5%;
}
.ProdcutInside{
    margin:0;
    position: relative;
    display: inline-block;
    height: 250px;
    width:300px;
    margin-top: 5%;
    
    
}

