.pos{
    margin:100px;
    
}

#carouselExampleCaptions .carousel-item {
    height: 550px;
  }
  
  .carousel-caption {
    font-size: 18px;
  }
  
  .carousel-item>img {
    width: 100%
  }


  .card-img-top {
    width: 100%;
    height: 100%;
    object-fit: cover;
}



.custom{
    margin-left: 15%;
    height:500px;
    width:70%;
    margin-top:5%;
    box-shadow: 0 18px 14px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 15px 50px;
   
}
.custom:hover{
    opacity:90%;
    transform: scale(1.05);
   
}



.custom img{
    object-fit: fill;
    width:90%;
    height: 500px;
    border-radius: 15px 50px
}







.custom-carousal{
    margin-top: 10%;
}


.clr{
    background-color: rgb(235, 232, 231);
}

